In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import statsmodels.api as sn

LOADING FILE FROM THIS CSV AND TO VIEW THE SHEETS HEADER

In [4]:
energy_data = pd.read_csv('C:/Users/HP/Downloads/energy_date.csv')
energy_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
energy_data.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [6]:
df = energy_data.drop(columns=["date","lights"])
x_multi = df.drop(columns=["Appliances"])
y_multi = df["Appliances"]

In [7]:
x_multi_cons = sn.add_constant(x_multi)
x_multi_cons.head()

,const,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1.0,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,1.0,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,1.0,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,1.0,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,1.0,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [8]:
lm_multi = sn.OLS(y_multi, x_multi).fit()
lm_multi.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:             Appliances   R-squared (uncentered):                   0.553
Model:                            OLS   Adj. R-squared (uncentered):              0.552
Method:                 Least Squares   F-statistic:                              974.0
Date:                Mon, 03 Aug 2020   Prob (F-statistic):                        0.00
Time:                        07:54:14   Log-Likelihood:                     -1.1781e+05
No. Observations:               19735   AIC:                                  2.357e+05
Df Residuals:                   19710   BIC:                                  2.359e+05
Df Model:                          25
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
T1              0.3848      1.863      0.207      0.836      -3.266       4.036
RH_1           16.0817      0.675     23.820      0.000      14.758      17.405
T2            -20.2865      1.646    -12.328      0.000     -23.512     -17.061
RH_2          -14.3938      0.773    -18.632      0.000     -15.908     -12.880
T3             25.3941      1.062     23.906      0.000      23.312      27.476
RH_3            5.0745      0.678      7.480      0.000       3.745       6.404
T4              2.9473      0.983      2.997      0.003       1.020       4.875
RH_4            1.9314      0.633      3.051      0.002       0.690       3.172
T5             -0.0583      1.181     -0.049      0.961      -2.374       2.257
RH_5            0.2399      0.088      2.740      0.006       0.068       0.411
T6              7.6828      0.637     12.056      0.000       6.434       8.932
RH_6            0.3496      0.068      5.130      0.000       0.216       0.483
T7              1.0764      1.330      0.809      0.418      -1.530       3.683
RH_7           -1.8200      0.430     -4.235      0.000      -2.662      -0.978
T8             10.2263      0.953     10.735      0.000       8.359      12.093
RH_8           -5.9075      0.372    -15.885      0.000      -6.636      -5.179
T9            -21.9760      1.728    -12.719      0.000     -25.363     -18.589
RH_9           -1.5287      0.408     -3.748      0.000      -2.328      -0.729
T_out         -10.4846      1.479     -7.090      0.000     -13.383      -7.586
Press_mm_hg     0.1603      0.041      3.932      0.000       0.080       0.240
RH_out         -0.8714      0.300     -2.909      0.004      -1.459      -0.284
Windspeed       2.1735      0.327      6.646      0.000       1.532       2.814
Visibility      0.1753      0.058      3.005      0.003       0.061       0.290
Tdewpoint       4.8642      1.378      3.529      0.000       2.162       7.566
rv1            -0.0204      0.023     -0.876      0.381      -0.066       0.025
rv2            -0.0204      0.023     -0.876      0.381      -0.066       0.025
==============================================================================
Omnibus:                    14033.322   Durbin-Watson:                   0.608
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           213090.494
Skew:                           3.344   Prob(JB):                         0.00
Kurtosis:                      17.643   Cond. No.                     1.00e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.17e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [9]:
lm3 = LinearRegression()
lm3.fit(x_multi, y_multi)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
print(lm3.intercept_,lm3.coef_)

35.39450705243921 [ 3.90037951e-01  1.60697476e+01 -2.03066346e+01 -1.44137260e+01
  2.53748307e+01  5.04884444e+00  2.98096105e+00  1.94908396e+00
 -2.00418492e-02  2.38143327e-01  7.65953740e+00  3.47287613e-01
  1.12846672e+00 -1.84188743e+00  1.01512642e+01 -5.90454433e+00
 -2.20902170e+01 -1.50483862e+00 -1.06403426e+01  1.23219241e-01
 -9.10467649e-01  2.12894680e+00  1.75814620e-01  5.07626186e+00
 -2.04810404e-02 -2.04810404e-02]

NOMILIAZING ENERGY DATA

In [11]:
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=["Appliances"])
Appliances_target = normalised_df["Appliances"]

SPLITING DATASET INTO TRAIN AND TEST

In [12]:
x_train, x_test, y_train, y_test = train_test_split(features_df,Appliances_target, test_size=0.3, random_state = 42)

In [13]:
linear_model = LinearRegression()
linear_model.fit(x_train,y_train)
predicted_values = linear_model.predict(x_test)
print(linear_model.intercept_,linear_model.coef_)

0.15290295882253055 [-0.00328105  0.5535466  -0.23617792 -0.45669795  0.29062714  0.09604827
  0.028981    0.02638578 -0.01565684  0.01600579  0.23642491  0.03804865
  0.01031878 -0.04461364  0.10199505 -0.15759548 -0.18994077 -0.03980032
 -0.32185967  0.00683933 -0.07767065  0.02918313  0.01230661  0.11775773
  0.0007701   0.0007701 ]

WHAT IS THE MEAN ABSOLUTE ERROR

In [14]:
mae = mean_absolute_error(y_test, predicted_values)
round(mae,2)

0.05

WHAT IS THE RESIDUAL SUM OF SQUARES

In [15]:
rss = np.sum()

TypeError: _sum_dispatcher() missing 1 required positional argument: 'a'

WHAT IS THE ROOTS SQUARED ERROR

In [17]:
mse = mean_squared_error(y_test,predicted_values)
round(mse,3)

0.008

RMSE

In [18]:
rmse = np.sqrt(mse)
round(rmse,3)

0.088

PENALIZATION METHOD

In [19]:
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [20]:
predicted_values = ridge_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

In [21]:
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [22]:
predicted_values = lasso_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.094